@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}


.font {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
    0 15px 90px 30px rgba(0, 0, 0, 0.25);
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.primary_text {
  font-size: 62px;
}

.secondary_text {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  font-size: 11.2px;
}

.slider {
  position: absolute;
  right: 50px;
  top: 50px;
}

.divider {
  font-size: 50px;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
/* toggle button */

.slider {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  justify-content: flex-end;
}

input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4em;
  height: 2em;
  background-color: #F3FDE8;
  border-radius: 2em;
  margin-right: .5em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  position: absolute;
  content: url(assets/day_icon.svg);
  font-size: 1em;
  left: .2em;
  width: 1.8em;
  height: 1.8em;
  color: rgba(160, 160, 160, 0);

  border-radius: 2em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: rgb(45, 45, 45);
}

input[type="checkbox"].toggle:checked + label::after {
  content: url(assets/night_icon.svg);
  transform: translateX(100%);

}

input[type="checkbox"].toggle:disabled + label {
  color: #000;
}

input[type="checkbox"].toggle:disabled + label::before {
  background-color: rgb(106, 106, 101);
}

input[type="checkbox"].toggle:disabled + label::after {
  background-color: rgb(45, 45, 45)
}
/* light theme */

.light.primary_text {
  color: #EDDBC7
}

.light.secondary_text {
  color: #F9F5E7;
}

.light.wrapper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25),
    0 15px 90px 30px rgba(255, 255, 255, 0.15) ;
  background-color: #A7727D;
}

.light.divider {
  background-color: #A7727D;
  color: #EDDBC7;
}

body.light {
  background-image: url(https://images.unsplash.com/photo-1566702580807-95611c919b47?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGJlaWdlJTIwYWVzdGhldGljfGVufDB8fDB8fHww);
}

/* dark theme */

.dark.primary_text {
  color: #5C8374;
}

.dark.secondary_text {
color: #93B1A6;}

.dark.wrapper {
background-color: #040D12;
}

.dark.divider {
  background-color: #040D12;
  color: #5C8374 ;

}

body.dark {
  background-image: url(https://images.unsplash.com/photo-1671159593357-ee577a598f71?auto=format&fit=crop&q=80&w=2940&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}



@media (min-width: 500px) {
  .wrapper {
    flex-direction: row;
  }
}



@media only screen and  (max-width: 499px) {
  .wrapper { 
    display: block; 
  }
  .divider {
    display: none;
  }
  .primary_text {
    padding-bottom: 10px;
  }
  .secondary_text {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
